:root {
  --black: #101010;
  --black-darker: #000000;
  --black-text: rgba(16, 16, 16, 1);
  --black-light: rgba(16, 16, 16, 0.7);
  --gray: #f6f4ef;
  --gray-lighter: rgba(246, 244, 239, 0.5);
  --white: #ffffff;
  --white-text: rgba(255, 255, 255, 0.75);
  --main: #b7a26d;
  --main-darker: #99844f;
  --main-lighter: rgba(183, 162, 109, 0.5);
  --second: #b7a26d;
  --red: #d12323;
  --geen: #d12323;
  --font-main: 'Mulish';
  --font-headers: 'Marcellus SC';
  --font-subheaders: 'Monsieur La Doulaise';
}

/**
 * Remove the margin in all browsers.
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  color: white;
  background-color: darkgray;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  background-color: gray;
}

.navbar-info {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unorderlist-navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.unorderlist-navbar > li a {
  padding: 1em;
  text-decoration: none;
  color: white;
}
